{% extends 'main.html' %}

{% block content %}

    <h1>Projects</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Ratio</th>
            <th>Vote</th>
            <th>Created</th>
            <th>link</th>
        </tr>
        {% for project in projectlist %}
        <tr>
            <td> {{ project.id }} </td>
            <td> {{ project.title }} </td>
            <td> {{ project.vote_ratio }}% </td>
            <td> {{ project.vote_total }} </td>
            <td> {{ project.created }} </td>
            <td> <a href="{% url 'project' project.id %}"> Link </a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}