{% extends 'main.html' %}

{% block content %}

    <h1>Projects</h1>
    {{ msg }}

    {% if data > 10 %}
        <p> {{ data }} greather than 10</p>
    {% elif data == 10 %}
        <p> {{ data}} equal to 10</p>
    {% else %}
        <p> {{ data }} less than 10 </p>
    {% endif %}
    <br>
    
    {% for project in projectlist %}
        {% comment %} static link {% endcomment %}
        {% comment %} <p> Title: <a href="project/{{ project.id }}"> {{ project.title }} </a>--- {{ project.description }} </p> {% endcomment %}
        <p>Title: <a href=" {% url 'projects' project.id %} "> {{ project.title }} </a> --- {{ project.description }} </p>
    {% endfor %}

{% endblock content %}